<div class="page--wide">
  <div class="toolbar">
    <a mat-raised-button color="primary" routerLink="new">Novo Assunto</a>
  </div>
  <table mat-table [dataSource]="data" class="mat-elevation-z1">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let s">{{s.name}}</td>
    </ng-container>
    <ng-container matColumnDef="channelId">
      <th mat-header-cell *matHeaderCellDef>Canal</th>
      <td mat-cell *matCellDef="let s">{{nameOfChannel(s.channelId)}}</td>
    </ng-container>
    <ng-container matColumnDef="activeModelVersion">
      <th mat-header-cell *matHeaderCellDef>Versão Ativa</th>
      <td mat-cell *matCellDef="let s">{{s.activeModelVersion || '-'}}</td>
    </ng-container>
    <ng-container matColumnDef="intentMinConf">
      <th mat-header-cell *matHeaderCellDef>Min Intent</th>
      <td mat-cell *matCellDef="let s">{{s.intentMinConf ?? '-'}}</td>
    </ng-container>
    <ng-container matColumnDef="entityMinConf">
      <th mat-header-cell *matHeaderCellDef>Min Ent.</th>
      <td mat-cell *matCellDef="let s">{{s.entityMinConf ?? '-'}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let s">
        <a mat-button color="primary" [routerLink]="[s.id]">Editar</a>
        <button mat-button color="warn" (click)="remove(s.id)">Excluir</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>